@import url('https://fonts.googleapis.com/css2?family=Ballet&display=swap');

$main-font:'Ballet', cursive;
$main-color: #fff;
$second-color: rgb(0, 0, 0);

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #4f4e4a;
    font: 150% $main-font;
    color: $main-color;
    font-weight: 500;
    letter-spacing: 0.2em;

    header {
        background-color: $second-color;
        display: flex;
  
        
        
        img {
            width: 2.5em;
            padding: 1em;
        }

        div  {
           display: flex;
           align-items: center;


           div {
        
           padding: 20px;
            }
        }
    }

    main {
    display: flex;
    height: 1000px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9tfzlHzBPql_MYcc9S8hL4tNV2YMmApOxcg&usqp=CAU");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;


         div {
            padding: 3em;
         }
    }

    footer {
        text-align: center;
        background-color: $second-color ;
    }
}